<template>
  <v-menu offset-y :close-on-content-click="false" v-model="menu">
    <template v-slot:activator="{ on }">
      <v-btn color="white" v-on="on" small>
        Bedrooms/bathrooms
        <v-icon v-if="!menu">mdi-chevron-down</v-icon>
        <v-icon v-if="menu">mdi-chevron-up</v-icon>
      </v-btn>
    </template>
    <v-card min-width="300px" min-height="160px" class="py-5 px-4">
      <div class="mb-0">
        <div class="bedrooms d-flex justify-space-between align-center">
          <v-icon>mdi-bed</v-icon>
          <p class="ma-0">Bedrooms</p>
          <p class="ma-0">{{bedroomCount}}</p>
          <div class="buttons d-flex align-center">
            <v-btn class="mx-2" fab dark x-small :color="themeColor" @click="decreaseBed()">
              <v-icon dark>mdi-minus</v-icon>
            </v-btn>
            <v-btn class="mx-2" fab dark x-small :color="themeColor" @click="increaseBed()">
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
          </div>
        </div>
        <div class="bathrooms d-flex justify-space-between align-center">
          <v-icon>mdi-shower</v-icon>
          <p class="ma-0">Bathrooms</p>
          <p class="ma-0">{{bathroomCount}}</p>
          <div class="buttons d-flex align-center mt-2">
            <v-btn class="mx-2" fab dark x-small :color="themeColor" @click="decreaseBath()">
              <v-icon dark>mdi-minus</v-icon>
            </v-btn>
            <v-btn class="mx-2" fab dark x-small :color="themeColor" @click="increaseBath()">
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <v-card-actions height="200px">
        <v-btn color="grey white--text cancelBtn" @click="menu = false" small>Close</v-btn>
        <v-btn
          :color="themeColor"
          class="white--text applyBtn"
          @click="applyRoomFilter()"
          small
        >Apply</v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  data() {
    return {
      menu: false,
      themeColor: this.$store.state.themeColor
    };
  },
  computed: {
    bedroomCount() {
      return this.$store.state.filtered.bedroomCount;
    },
    bathroomCount() {
      return this.$store.state.filtered.bathroomCount;
    }
  },
  methods: {
    increaseBed() {
      this.$store.commit("increaseBed");
    },
    decreaseBed() {
      if (this.bedroomCount > 0) {
        this.$store.commit("decreaseBed");
      }
    },
    increaseBath() {
      this.$store.commit("increaseBath");
    },
    decreaseBath() {
      if (this.bathroomCount > 0) {
        this.$store.commit("decreaseBath");
      }
    },
    applyRoomFilter() {
      this.$store.dispatch("filterBed");
      this.menu = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.cancelBtn {
  position: absolute;
  right: 28%;
  bottom: 4%;
}
.applyBtn {
  position: absolute;
  right: 7%;
  bottom: 4%;
}
</style>