<template>
  <v-card>
    <v-toolbar color="white">
      <v-toolbar-title></v-toolbar-title>
      <v-img src="logo.png" max-width="100px" class="ml-5"></v-img>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn color="white" elevation="0">Services</v-btn>
        <v-btn color="white" elevation="0">About</v-btn>
        <v-btn color="white" elevation="0">Contact</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <div id="map-container" ref="map"></div>
    <results-component class="results" />
  </v-card>
</template>
<script>
import resultsComponent from "./resultsComponent.vue";

export default {
  name: "mapComponent",
  components: {
    resultsComponent
  },
  data() {
    return {
      map: null
    };
  },
  mounted() {
    this.$store.dispatch("createMap").then(() => {
        this.$store.dispatch("getFeed").then(() => {
            this.$store.dispatch("createMarkers");
        })
    });
  }
};
</script>
<style lang="scss" scoped>
#map-container {
  height: 600px;
}
.results {
  position: absolute;
  top: 12%;
  left: 3%;
}
</style>