<template>
  <v-menu offset-y :close-on-content-click="false" v-model="menu">
    <template v-slot:activator="{ on }">
      <v-btn color="white" v-on="on" small>
        Policies
        <v-icon v-if="!menu">mdi-chevron-down</v-icon>
        <v-icon v-if="menu">mdi-chevron-up</v-icon>
      </v-btn>
    </template>
    <v-card min-width="300px" min-height="200px" class="py-5 px-4">
      <div class="smoking d-flex align-center justify-space-between">
        <p>Smoking allowed</p>
        <v-switch v-model="switch1" inset @change="setSmoking()" :color="themeColor"></v-switch>
      </div>
      <div class="pets d-flex align-center justify-space-between">
        <p>Pets allowed</p>
        <v-switch v-model="switch2" inset @change="setPets()" :color="themeColor"></v-switch>
      </div>
      <div class="section d-flex align-center justify-space-between">
        <p>Section 8 Housing</p>
        <v-switch v-model="switch3" inset @change="setSection()" :color="themeColor"></v-switch>
      </div>
      <v-card-actions>
        <v-btn color="grey white--text cancelBtn" @click="menu = false" small>Close</v-btn>
        <v-btn
          :color="themeColor"
          class="white--text applyBtn"
          @click="applyPolicyFilter()"
          small
        >Apply</v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  data() {
    return {
      switch1: false,
      switch2: false,
      switch3: false,
      themeColor: this.$store.state.themeColor,
      menu: false
    };
  },
  computed: {},
  methods: {
    setSmoking() {
      this.$store.commit("setSmoking", this.switch1);
    },
    setPets() {
      this.$store.commit("setPets", this.switch2);
    },
    setSection() {
      this.$store.commit("setSection", this.switch3);
    },
    applyPolicyFilter() {
      this.$store.dispatch("filterPolicies");
      this.menu = false;
    }
  }
};
</script>

<style lang="scss">
.cancelBtn {
  position: absolute;
  right: 25%;
  bottom: 4%;
}
.applyBtn {
  position: absolute;
  right: 4%;
  bottom: 4%;
}
</style>