<template>
  <v-menu offset-y :close-on-content-click="false" v-model="menu">
    <template v-slot:activator="{ on }">
      <v-btn color="white" v-on="on" small>
        Price
        <v-icon v-if="!menu">mdi-chevron-down</v-icon>
        <v-icon v-if="menu">mdi-chevron-up</v-icon>
      </v-btn>
    </template>
    <v-card min-width="300px" min-height="auto" class="py-5 px-4">
      <v-range-slider
        v-model="rangeValue"
        step="1"
        :min="1000"
        :max="4000"
        thumb-label="always"
        thumb-color="rgb(121, 63, 169)"
        class="mt-6 mb-0"
        @change="setRange"
      ></v-range-slider>
      <v-card-text class="mt-0 black--text font-weight-medium">${{range[0]}} - ${{range[1]}}</v-card-text>
      <v-card-actions>
        <v-btn color="grey white--text cancelBtn" @click="menu = false" small>Close</v-btn>
        <v-btn
          :color="themeColor"
          class="applyBtn white--text"
          @click="applyPriceFilter()"
          small
        >Apply</v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  data() {
    return {
      rangeValue: [1000, 4000],
      menu: false,
      themeColor: this.$store.state.themeColor
    };
  },
  methods: {
    setRange() {
      this.$store.commit("setRange", this.rangeValue);
    },
    applyPriceFilter() {
      this.$store.dispatch("filterPrice");
      this.menu = false;
    }
  },
  computed: {
    range() {
      return this.$store.state.filtered.range;
    }
  }
};
</script>
<style lang="scss">
.cancelBtn {
  position: absolute;
  right: 25%;
  bottom: 4%;
}
.applyBtn {
  position: absolute;
  right: 4%;
  bottom: 4%;
}
</style>