<template>
  <v-card max-width="460px" max-height="550px">
    <v-toolbar :color="themeColor">
      <v-text-field
        v-model="searched"
        hide-details
        single-line
        dark
        class="white--text"
        placeholder="Search by address"
        prepend-icon="mdi-magnify"
        @keyup="searchByAddress()"
        @keydown.esc="searched = ''"
      ></v-text-field>
    </v-toolbar>
    <v-card-actions class="d-flex justify-space-around">
      <price-filter />
      <bedroom-filter />
      <policies-filter />
      <v-btn :color="themeColor" class="white--text" @click="resetFilters()" small>Reset</v-btn>
    </v-card-actions>
    <v-card max-height="450px" class="overflow-y-auto">
      <v-list>
        <template v-for="item in results">
          <v-container v-bind:key="item._id" class="pa-0" ref="resultWrap">
            <v-list-item @click="goToAddress(item.latitude, item.longitude, item._id)">
              <v-list-item-avatar height="100px" width="100px" tile>
                <v-img :src="item.img ? item.img : 'noimage.jpg'"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{item.name}}</v-list-item-title>
                <v-list-item-subtitle>{{item.address}}</v-list-item-subtitle>
                <span class="group pa-2 d-flex align-center">
                  <v-icon v-if="item.tags.includes('smokingAllowed')">mdi-smoking</v-icon>
                  <v-icon v-if="item.tags.includes('petsAllowed')">mdi-dog</v-icon>
                  <v-icon v-if="item.tags.includes('sectionAndHousing')">mdi-numeric-8-circle</v-icon>
                </span>
                <p class="font-weight-bold">${{item.price}}</p>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
          </v-container>
        </template>
      </v-list>
      <v-card v-if="noResults()">
        <v-card-text max-height="100px" class="text-center subtitle-1">
          <v-icon>mdi-magnify-close</v-icon>No results
        </v-card-text>
      </v-card>
    </v-card>
  </v-card>
</template>
<script>
import priceFilter from "./priceFilter.vue";
import bedroomFilter from "./bedroomFilter.vue";
import policiesFilter from "./policiesFilter.vue";

export default {
  components: {
    priceFilter,
    bedroomFilter,
    policiesFilter
  },
  data() {
    return {
      searched: "",
      themeColor: this.$store.state.themeColor
    };
  },
  computed: {
    results() {
      return this.$store.state.results;
    }
  },
  methods: {
    goToAddress(lat, long, id) {
      this.$store.state.map.flyTo({ center: [long, lat], zoom: 14 });
      this.$store.dispatch("highlightMarker", id);
    },
    resetFilters() {
      this.$store.dispatch("resetFilter");
    },
    searchByAddress() {
      this.$store.dispatch("searchByAddress", this.searched);
    },
    noResults() {
      if (this.results.length == 0) {
        return true;
      } else return false;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>