<template>
  <v-app>
    <v-content class="main-app-container">
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
.main-app-container {
  background-color: #b86da6;
}
</style>