<template>
    <div>
        <map-component />
    </div>
</template>
<script>
import mapComponent from "../components/mapComponent.vue";

export default {
  components: {
    mapComponent,
  },
  data() {
    return {
      
    }
  }
}
</script>

<style>

</style>